In [1]:
import pandas as pd

In [5]:
df=pd.read_csv("spotify_millsongdata.csv")

In [6]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [7]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [9]:
df.shape

(5000, 3)

In [10]:
df.head(10)

,artist,song,text
0,Cake,Mr. Mastodon Farm,\r\n \r\n \r\n \r\nBirds fall from the wi...
1,Tiffany,I'm Not Sleeping,"Wake up, wake up.... \r\nTurn on the water \..."
2,Neil Sedaka,I Belong To You,You kissed my lips and now my life has just be...
3,Bread,Be Kind To Me,Be kind to me \r\nBe kind to me \r\nBe kind ...
4,Dolly Parton,Chas,Chas I cook your a breakfast and send you to w...
5,Bryan White,How Long,You say you need someone to love \r\nBut when...
6,Nat King Cole,Come Closer To Me (Acercate Mas),Come closer to me \r\nSo I can see \r\nHeave...
7,Miley Cyrus,Twinkle Song,[Verse 1] \r\nI had a dream \r\nDavie Bowie ...
8,America,In The Sea,In the sea the fish have learned to fly \r\nO...
9,Lloyd Cole,To The Church,I'm looking for a religious girl \r\nWith chi...

In [11]:
df.text[0]

"  \r\n  \r\n  \r\n  \r\nBirds fall from the window ledge above mine.  \r\n  \r\nThen they flap their wings at the last second.  \r\n  \r\nYou see birds fall from the window ledge above mine.  \r\n  \r\nThen they flap their wings at the last second.  \r\n  \r\nI can see their dead weight  \r\n  \r\nJust dropping like stones  \r\n  \r\nFor small loaves of bread  \r\n  \r\nPast my window all the time.  \r\n  \r\nBut unless I get up  \r\n  \r\nWalk across the room  \r\n  \r\nAnd peer down below  \r\n  \r\nI don't see their last second curves  \r\n  \r\nToward a horizontal flight.  \r\n  \r\nAll these birds just falling from the ledge like stones.  \r\n  \r\nNow due to a construct in my mind  \r\n  \r\nThat makes their falling and their flight  \r\n  \r\nSymbolic of my entire existence,  \r\n  \r\nIt becomes important for me  \r\n  \r\nTo get up and see  \r\n  \r\nTheir last second curves toward flight.  \r\n  \r\nIt's almost as if my life will fall  \r\n  \r\nUnless I see their ascent.  \r\n  \r\nMr. Mastodon Farm,  \r\n  \r\nMr. Mastodon Farm,  \r\n  \r\nCuts swatches out of all material.  \r\n  \r\nMr. Mastodon Farm,  \r\n  \r\nMr. Mastodon Farm,  \r\n  \r\nCuts swatches out of all material.  \r\n  \r\nBirds fall from the window ledge above mine.  \r\n  \r\nThen they flap their wings at the last second.  \r\n  \r\nI said birds fall from the window ledge above mine.  \r\n  \r\nThen they flap their wings at the last second.  \r\n  \r\nBut unless I get up,  \r\n  \r\nWalk across the room  \r\n  \r\nAnd peer down below,  \r\n  \r\nI won't see their last second curves  \r\n  \r\nToward a, a horizontal flight.  \r\n  \r\nAll these birds just falling from the ledge like stones.  \r\n  \r\nNow due to a construct in my mind  \r\n  \r\nThat makes their falling and their flight  \r\n  \r\nSymbolic of my entire existence,  \r\n  \r\nIt becomes important for me  \r\n  \r\nTo get up and see  \r\n  \r\nTheir last second curves toward flight.  \r\n  \r\nIt's almost like my life will fall,  \r\n  \r\nMy life will fall,  \r\n  \r\nUnless I see their ascent.  \r\n  \r\nMr. Mastodon Farm,  \r\n  \r\nMr. Mastodon Farm,  \r\n  \r\nCuts swatches out of all material.  \r\n  \r\nMr. Mastodon Farm,  \r\n  \r\nMr. Mastodon farm,  \r\n  \r\nCuts swatches out of all material.  \r\n  \r\nMr. Mastodon Farm,  \r\n  \r\nMr. Mastodon farm,  \r\n  \r\nCuts swatches out of all material.  \r\n  \r\n\r\n"

Text Cleaning /preprocessing #so now we need to rempve the \r and other unnecessary things from thetext of the somg

In [15]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [16]:
df

,artist,song,text
0,Cake,Mr. Mastodon Farm,\r \r \r \r birds fall from the window...
1,Tiffany,I'm Not Sleeping,"wake up, wake up.... \r turn on the water \r..."
2,Neil Sedaka,I Belong To You,you kissed my lips and now my life has just be...
3,Bread,Be Kind To Me,be kind to me \r be kind to me \r be kind to...
4,Dolly Parton,Chas,chas i cook your a breakfast and send you to w...
...,...,...,...
4995,Bee Gees,Forever,"hush my darling , sleep my lover \r there'll ..."
4996,Joni Mitchell,Conversation,he comes for conversation \r i comfort him so...
4997,Savage Garden,A Thousand Words,we stumble in a tangled web \r decaying frien...
4998,Steely Dan,Any Major Dude Will Tell You,i never seen you looking so bad my funky one ...
4999,Manowar,Secret Of Steel,"atop the mountain, where the river of steel fl..."

In [17]:
#TokenizATION based on tag ,then using theta for distance between two or more for comparing similarity for recomending

In [19]:
import nltk
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

def tokenization(txt):
    tokens = nltk.word_tokenize(txt)
    stemming = [stemmer.stem(w) for w in tokens]
    return " ".join(stemming)

In [20]:
#testing token after download nltk punkt

In [23]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to C:\Users\ABHISHEK
[nltk_data]     SINGH\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [25]:
tokenization("you are beautiful, beauty")

'you are beauti , beauti'

In [26]:
df['text'] = df['text'].apply(lambda x: tokenization(x))

In [28]:
df.tail(5)

,artist,song,text
4995,Bee Gees,Forever,"hush my darl , sleep my lover there 'll be rai..."
4996,Joni Mitchell,Conversation,he come for convers i comfort him sometim comf...
4997,Savage Garden,A Thousand Words,we stumbl in a tangl web decay friendship almo...
4998,Steely Dan,Any Major Dude Will Tell You,i never seen you look so bad my funki one you ...
4999,Manowar,Secret Of Steel,"atop the mountain , where the river of steel f..."

In [29]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [30]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [31]:
similarity

array([[1.        , 0.0238083 , 0.01212369, ..., 0.00295265, 0.02096811,
        0.        ],
       [0.0238083 , 1.        , 0.03099578, ..., 0.06886291, 0.0506379 ,
        0.02790222],
       [0.01212369, 0.03099578, 1.        , ..., 0.02065686, 0.0658981 ,
        0.0207812 ],
       ...,
       [0.00295265, 0.06886291, 0.02065686, ..., 1.        , 0.02116355,
        0.00176872],
       [0.02096811, 0.0506379 , 0.0658981 , ..., 0.02116355, 1.        ,
        0.00734995],
       [0.        , 0.02790222, 0.0207812 , ..., 0.00176872, 0.00734995,
        1.        ]])

In [33]:
similarity[0]

array([1.        , 0.0238083 , 0.01212369, ..., 0.00295265, 0.02096811,
       0.        ])

In [35]:
df[df['song'] == 'Forever']

,artist,song,text
1071,Hillsong,Forever,i 'll worship at your throne whisper my own lo...
2183,Ozzy Osbourne,Forever,there 's no present there 's no futur i do n't...
2267,R. Kelly,Forever,babi i have someth that i want to ask you babi...
4995,Bee Gees,Forever,"hush my darl , sleep my lover there 'll be rai..."

In [36]:
def recommendation(song_df):
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similarity[idx])),reverse=True,key=lambda x:x[1])
    
    songs = []
    for m_id in distances[1:21]:
        songs.append(df.iloc[m_id[0]].song)
        
    return songs

In [37]:
recommendation('Forever')

['Lord You Are Good (Ft. New Breed)',
 'Separated',
 "They'll Never Take Her Love From Me",
 'If I Love Again',
 "Sing Redemption's Song",
 'I Love You',
 'Mountain Top',
 'Pledging My Love',
 'Church Of Women',
 "It's So Cool",
 'Forever Yours',
 'Smile',
 'Just One Way To Say I Love You',
 'One Child',
 'Home',
 "I'll Be There For You",
 'Stay With Me Forever',
 'Always And Forever',
 'We Will Fall',
 'The Glory Of Our King']

In [38]:
import pickle
pickle.dump(similarity,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))